@import '../modules/variables';
@import '../modules/mixins';
@import "../modules/mediaQueryMixins";

.nav{
  background-color: rgba(255,255,255,0.9);
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  width: 100%;
  // border: 1px solid green;
  @include boxShadow(#888888);
  // @include tablet {
  //   height: 66px;
  // }
  // @include laptop {
  //   height: 72px;
  // }
  // menulogo----------------------------------------------------------------
  &__menu-logo{
    height: 37px;
    width:37px;
    margin-left: 20px;
    background-image: $logo-SVG2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // @include tablet{
    //   height: 48px;
    //   width:260px;
    //   margin-left: 20px;
    //   background-image: $logo-SVG;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    // }
    // @include laptop {
    //   height: 55px;
    //   width:280px;
    //   margin-left: 30px;
    // }
  }// end of the logo

  //nav-btns----------------------------------------------------------
  &__btns-cnt{
    background-color: $main-color;
    height: 100%;
    min-width:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
    @include tablet{
      background-color: rgba(0,0,0,0);
      min-width: 300px;
    }
    &__menu-btn{
      height:35px;
      width:35px;
      margin:  0 10px;
      background-image: $menu-SVG;
      background-size: cover;
      background-repeat: no-repeat;
      // background-color: red;
      @include tablet{
        display: none;
      }
      &_closed{
        @include animationMenuBtn(0.7s,180deg);
      }
      &_opened{
        @include animationMenuBtn(0.7s,90deg)
      }
    }
    &__link-btns-cnt{
      width:0px;
      // border: 1px solid blue;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      opacity: 0;
      @include tablet{
        opacity: 1;
      }
      &_opened{
        @include sideBarAnimation(closed 0.7s ease-out forwards);
        @include mobile{
          @include sideBarAnimation(closed2 0.7s ease-out forwards);
        }
      }
      &_closed{
          @include sideBarAnimation(opened 0.7s ease-out forwards);
          @include mobile{
            @include sideBarAnimation(opened2 0.7s ease-out forwards);
          }
      }
      &__el{
        height:35px;
        width:90px;
        border-radius: 10%;
        color: black;
        display:flex;
        justify-content:center;
        align-items: center;
        opacity: 1;
        font-size: 11px;
        text-transform: uppercase;
        &_closed{
          display:none;
          @include tablet{
            color: white;
            font-weight: bolder;
            @include linearGradientEf(-20deg,rgba(0,190,0,1),rgba(0,190,0,1) 47%,rgba(0,210,0,1) 50%,rgba(0,210,0,1) 100%);
            display:flex;
          }
        }
        @include linearGradientEf(-20deg,rgba(235,235,235,1),rgba(235,235,235,1) 47%,rgba(250,250,250,1) 50%,rgba(250,250,250,1) 100%);
        @include mobile{
          font-size: 14px;
          width:110px;
          margin-right: 25px;
        }

        &:hover{
          background-color: white;
          border: 1px solid black;
          color: black;
        }//hover
      }//nav inner btn el
    }
  }//nav btns
}//and of nav
