@mixin animationSideBar($value...) {
-webkit-transition: $value;
-moz-transition: $value;
-o-transition: $value;
transition: $value;
}


//a part resposible for animating nav bar
@mixin sideBarAnimation($value...) {
-webkit-animation:$value;
-moz-animation: $value;
-o-animation: $value;
animation: $value;
}


@keyframes opened {
  0%{
    opacity:0;
    width:0;
  }
  70%{
    opacity:0;
  }
  100%{
    opacity:1;
    width:190px;
  }
}
@keyframes closed {
  0%{
    opacity:1;
    width:190px;
  }
  5%{
    opacity:0;
    width:190px;
  }
  100%{
    width:0px;
  }
}

@keyframes opened2 {
  0%{
    opacity:0;
    width:0;
    margin-left: 0;
  }
  70%{
    opacity:0;
  }
  100%{
    opacity:1;
    width:270px;
    margin-left: 10px;
  }
}
@keyframes closed2 {
  0%{
    opacity:1;
    width:270px;
  }
  5%{
    opacity:0;
    width:270px;
  }
  100%{
    width:0px;
  }
}





@mixin animationText($value...) {
-webkit-transition: $value;
-moz-transition: $value;
-o-transition: $value;
transition: $value;
}

@mixin animationMenuBtn($value,$value2) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;

  -ms-transform: rotate($value2);
  -webkit-transform: rotate($value2);
  -o-transform: rotate($value2);
  transform: rotate($value2);
}

@mixin boxShadow($color) {
-webkit-box-shadow: 0px 3px 4px 0 $color;
-moz-box-shadow: 0px 3px 4px 0 $color;
-o-transform: 0px 3px 4px 0 $color;
box-shadow: 0px 3px 4px 0 $color;
}

@mixin boxShadowEntry($color) {
-webkit-box-shadow: 0px 0px 5px 0 $color;
-moz-box-shadow: 0px 0px 5px 0 $color;
-o-transform: 0px 0px 5px 0 $color;
box-shadow: 0px 0px 5px 0 $color;
}
@mixin boxShadowEntrySubmit($color) {
-webkit-box-shadow: 0px 0px 7px 0 $color;
-moz-box-shadow: 0px 0px 7px 0 $color;
-o-transform: 0px 0px 7px 0 $color;
box-shadow: 0px 0px 7px 0 $color;
}

@mixin linearGradientEf($colors...){
background: repeating-linear-gradient($colors);
background: -webkit-linear-gradient($colors);
background: -o-linear-gradient($colors);
background: -moz-linear-gradient($colors);
}
