@import "../../modules/variables";
@import "../../modules/mixins";
@import "../../modules/mediaQueryMixins";


// SECTION 5 STYLING

.safety-class{
  // height: 40vh;
  background-color: rgba(245,245,245,0.9);
}
.safety-cnt{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  // border: 1px solid green;
  .safety-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 23px;
    font-weight: 600;
    // color: white;
  }
  .safety-text{
    margin-top: 8px;
    font-weight: 600;
    color: $main-color;
    // height: 50vh;
    font-size: 13px;
    text-align:center;
    padding: 5px;
    margin-bottom: 5px;
  }
}
